.column {
  float: left;
  width: 50%;
}

.hr-short {
  width: 32px;
  height: 2px;
  background: #202336;
  border-radius: 4px;
  margin: 0;
}

.selector {
  font-size: 15px;
  color: #4a4c53;
  width: 220px;
  height: 52px;
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
}

select {
  display: block;
  padding: 0.8rem 2rem;
  font-family: inherit;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 2rem center;
  background-size: 1em;
}

.man-on-earth-img {
  width: 40vw;
  max-width: 800px;
}

.air-balloon-with-man {
  width: 40vw;
  max-width: 800px;
  margin: auto;
}


.bg-gray {
  background-color: #f8f8f8;
}

.img-card {
  border-radius: 8px;
  width: 100%;
}

.centered-container.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-text {
  font-family: "Inter", sans-serif;
  position: relative;
  bottom: 45px;
  left: 0px;
  width: 50%;
  padding: 5px 20px 0 0;
  background-color: #fff;
  border-top-right-radius: 8px;
  text-align: left;
}
.card-text strong {
  color: #202336;
}

.trip-selection-block .selectors-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.trip-selection-block .selectors-flex .selector {
  margin-right: 20px;
  margin-bottom: 20px;
}

.block-explore-the-world .centered-container.flex  {
  flex-direction: row-reverse;
}




@media only screen and (max-width: 786px) {
  .centered-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px; */
    overflow: hidden;
  }

  .air-balloon-with-man {
    width: 80vw;
    text-align: center;
    overflow: hidden;
  }

  .cards {
    display: flex;
    flex-direction: column;
  }

  .featured-destinations-block .text-block {
    display: block;
    text-align: left;
  }

  .featured-destinations-block {
    display: block;
    margin-top: 35px;
  }

  .trip-selection-block {
    padding-top: 100px;
    display: block;
  }

  .box {
    width: 100%;
    align-self: center;
  }

  .column {
    width: 100%;
  }

  .selectors-flex {
    width: 100%;
    align-items: center;
  }

  .w-70 {
    width: 100%;
  }

  .trip-selection-block .flex.centered-container {
    display: block;
  }

  .block-img {
    margin: 50px auto 0;
    text-align: center;
  }

  .man-on-earth-img {
    position: static;
    width: 70vw;
  }

  .block-explore-the-world .centered-container.flex {
    display: block;
  }

  .featured-destinations-block .text-orange-link {
    font-size: larger;
  }

}

@media only screen and (max-width: 1440px) {
  .block-explore-the-world .pl-4 {
    padding-left: 0;
  }
}
