/*
general styles
*/

body {
  all: unset;
  background-color: #fff;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: #202336;
}

p {
  font-family: "Mulish", sans-serif;
  font-size: 17px;
  color: #7d7987;
  padding: 0;
  margin: 0;
}


.w-70 {
  width: 70%;
}

.title {
  font-family: "Playfair Display", serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  color: #202336;
}

.title-smaller {
  font-size: 36px;
  font-weight: 700;
  line-height: 50px;
  margin: 0;
}

.important-text {
  font-size: 22px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  color: #202336;
}

.flex {
  display: flex;
}

.centered-container {
  text-align: center;
  padding: 1% 15%;
  min-width: 70%;
}

/*
header navigation styles
*/

.horisontal-non-style-list {
  list-style: none;
}

.unactive {
  color: #b8becd;
}

.unactive:hover {
  color: #202336;
  transition: 0.5s;
}

.logo-img {
  float: left;
  width: 41px;
  height: 41px;
}

.to-right {
  float: right;
}

.align-left {
  text-align: left;
}

.horisontal-non-style-list > li {
  display: inline;
}

.btn {
  border: 1px solid #fb8f1d;
  border-radius: 8px;
  padding: 15px 35px;
}

.btn-orange {
  background-color: #fb8f1d;
  color: #fff;
}

.btn-orange:hover {
  background-color: #fff;
  color: #fb8f1d;
  transition: 0.5s;
}

.btn-transparent {
  background-color: #fff;
  color: #fb8f1d;
}

.btn-transparent:hover {
  background-color: #fb8f1d;
  color: #fff;
  transition: 0.5s;
}

.button {
  width: 132px;
}

.text {
  line-height: 30px;
  font-size: 17px;

}

.text-orange-link {
  color: #fb8f1d;
}

.column {
  float: left;
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.hr-short {
  width: 32px;
  height: 2px;

  background: #202336;
  border-radius: 4px;
  margin: 0;
}

.selector {
  font-size: 15px;
  color: #4a4c53;
  width: 220px;
  height: 52px;
  border: 0.8px solid #afb0b9;
  border-radius: 6px;
}

select {
  display: block;
  padding: 0.8rem 2rem;
  font-family: inherit;
  /* for the dropdown indicator */
  appearance: none;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 2rem center;
  background-size: 1em;
}

td {
  padding-right: 20px;
  padding-bottom: 20px;
}

.bg-gray {
  background-color: #f8f8f8;
}

.img-card {
  border-radius: 8px;
}

.centered-container .flex {
  justify-content: space-between;
}

.box {
  position: relative;
}
.card-text {
  font-family: "Inter", sans-serif;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 5px 20px 0 0;
  background-color: #fff;
  border-top-right-radius: 8px;
  text-align: left;
}
.card-text strong {
  color: #202336;
}

.my-6 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.my-4 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.my-2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.mx-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.pl-4 {
  padding-left: 150px;
}

.mr-auto {
  margin-right: auto;
}

.mt-auto {
  margin-top: auto;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}
 